

.main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  @media (min-width: 768px) {
    width: clamp(300px, 80%, 1200px); 
  }
}

.intro {
  color: var(--highlight);
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.title-container {
  font-size: clamp(1rem, 5vw, 3rem);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.title-word {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;  
  color: var(--secondary);
}

.title-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;  
  color: var(--secondary);
}

.title-letter {
  display: inline-block;
  color: var(--secondary);
}