

.main {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    width: clamp(300px, 80%, 1200px); 
  }
}

.intro {
  color: var(--highlight);
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}
