
.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 2rem 2rem 2rem;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 2rem 0 2.5rem 2.5rem;
  }
}

.paper {
  position: absolute;
  // box-shadow: var(--drop-shadow);
  background: var(--project-card-bg);
  border-radius: 8px;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  
  @media (min-width: 768px) {
    top: 0;
    right: 10rem;
    border-radius: 16px;
   }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  gap: 0.25rem;

  h5 {
    font-size: clamp(1.25rem, 2.75vw, 1.75rem);
    font-weight: 600;
    color: var(--primary);
  }

  p {
    font-size: clamp(0.75rem, 1vw, 0.9rem);
    font-weight: 400;
    color: var(--primary);
    opacity: 0.6;
  }

  @media (min-width: 768px) {
   width: 60%;
   padding-right: 10rem;
   border-radius: 16px;
  }

  @media (min-width: 1024px) {
    width: 60%;
   }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.5rem;

  @media (min-width: 768px) {
    gap: 0.5rem;
    margin-top: 2rem;
  }
}

.techs {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0.25rem 0 0.5rem 0;
}


.media {
  display: flex;
  aspect-ratio: 16 / 9;
  position: relative;
  align-items: center;
  margin: 0 2rem;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  z-index: 5;

  video {
    border-radius: 8px 8px 0 0;
  }

  @media (min-width: 768px) {
    width: 40%;
    border-radius: 8px;
    overflow: hidden;
    z-index: 15;
    margin: 0;

    video {
      border-radius: 8px;
    }
   }

   @media (min-width: 1024px) {
    width: 40%;
   }
}