
.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}

.active {
  opacity: 1;
}